.ChatMenu .wrapper {
  user-select: none;
}

.ChatMenu .wrapper:hover {
  cursor: pointer;
}

.ChatMenu .wrapper:active {
  transform: translateY(1px);
}

.ChatMenu .reload-btn {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 5px 0px;
}

.ChatMenu .reload-btn:hover {
  cursor: pointer;
  user-select: none;
}

.ChatMenu .reload-btn:active {
  background-color: #5d8bd9;
}

.ChatMenu .gg-undo {
  transform: translate(6px, 5px);
}

.ChatMenu .friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset;
  height: 40px;
}

.ChatMenu .friend:hover {
  background-color: #5d8bd9;
}

.ChatMenu .flex-container {
  display: flex;
  justify-content: space-between;
}

.ChatMenu .friend-header {
  display: flex;
  flex-direction: row;
}

.ChatMenu .friend-image {
  margin-right: 5px;
}

.ChatMenu .friend-name {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: #ffffff;
}

.ChatMenu .x-button {
    display: inline-block;

  margin-right: 10px;
  height: 27px;
  width: 20px;
  text-align: end;  
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: white;

  transition: color 0.1s linear;
}

.ChatMenu .x-button:hover {
    color: #FCA103;
    padding: 0px;
    transform: none;
    z-index: 100;
}