.NavBar {
    min-height: 90px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(227, 160, 43, 0.23) 0%, #E3A02B 89.58%), #FFFFFF;
}

.NavBar .logo-image {
    height: 20px;
}

.NavBar .logo-title {
    margin-left: 5px;
}

.NavBar .links {
    margin-left: auto;
}

.NavBar h6 {
    margin: 0px;
}