.ChatDisplay {
    height: 100%;
}

.ChatDisplay .message-feed {
    overflow: auto;
    margin: 0;
    height: 100%;
    display: flex;
flex-direction: column;
}

.ChatDisplay .message-block {
    padding: 5px 0px;
    max-width: 600px;
    width: fit-content;
    min-width: 250px;
}