.ChatDisplay {
    height: 90%;
}

.ChatDisplay .message-feed {
    overflow: auto;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ChatDisplay .message-header {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px rgba(115, 141, 186, 0.25);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.ChatDisplay .message-reciever {
    padding: 0px 15px;
    font-family: "Playfair Display", serif;
    font-size: 24px;
}

.ChatDisplay .message-block {
    padding: 5px 0px;
    max-width: 600px;
    width: fit-content;
    min-width: 250px;
}